body {
    font-family: Arial;
    background-color: rgb(216, 216, 216);
}

.titulo {
    background-color: red;
text-align: center;
color: white;
}

.titulo2 {
    background-color: rgb(0, 183, 255);
text-align: center;
color: white;
}

.titulo3 {
    background-color: rgb(121, 160, 231);
    text-align: center;
    color: white;
}

.noticia {
text-align: justify;
}

.subtitulo {
    background-color: rgb(23, 100, 243);
    color:white;
}
img {
    align-content: center;
}